<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Electron boilerplate</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Wllppr</h1>
			</header>
      <div class="conteiner">
        <button id="setPhoto" onclick="setWallpaper();">Update background</button>
      </div>
			<section class="main"></section>
			<footer></footer>
      <script>
        var $ = require('jquery');
        function setWallpaper () {
          var wllppr = require('../lib/unsplash');
          wllppr.set();
          $('.main').html('New photo is set!');
        }
      </script>
		</div>
	</body>
</html>
